.page-size-input.input-with-unit {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    margin: 0px;
    height: 30px;
    margin-bottom: 4px;
    margin-left: 29.5px;
    border-top-width: 0px;
    border-radius: 1px;
    max-width: 30ch;
}

.dash-table-container:has(.previous-next-container)~.page-size-input {
    position: absolute;
    bottom: 0;
    left: 0;
}

.page-size-input .input {
    max-width: 5ch;
    min-width: 3ch;
}

.add-row-button.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    width: 29px;
    padding: 0px;
    margin: 0.5px;
    border-radius: 1px;
    border-width: 0px;
    position: absolute;
    top: 0;
    left: 0;
}

.input-table {
    position: relative;
    float: left;
    width: 100%;
}

.input-table .dash-spreadsheet-menu {
    display: none;
}