.input-with-unit {
    display: flex;
    height: 30px;
    width: fit-content;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}

.input-with-unit .input {
    border-width: 0px;
    margin: 0px;
}

.input-unit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px 5px;
    width: fit-content;
    border-radius: 4px;
    background-color: #eee;
}